.App-header {
    background-color: rgba(165, 165, 167, 0.705);
    height: 70px;
    padding: 10px;
    position: static,fixed;
    box-shadow: unset;
  }
  .navbar-section{
    text-align: right;
    }
    .content {
      padding: 16px;
    }
    