.App {
  text-align: center;
  margin: 0;
  padding: 0;
    height: 100%; 
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar {
  margin-top: auto; 
}
#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.navbar-section{
text-align: right;
}
.class{

text-align: left;
}
