
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800'); */

 {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
  }
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
  
}







